body{
  padding-top: 20px;
  text-align: center;
  background-color: cornsilk;
  font-family: 'Lobster', cursive;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  letter-spacing: 1px;
}
#home-page-photo{
  border: 1px solid black;
}
section{
  /* background-color: bisque; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
#blank{
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: cornsilk;
}
#blank:focus{
  background-color: rgba(43,29,107,.9);
  color: white;
}
#search{
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;;
  width: auto;
  height: 25px;
  border-radius: 4px; 
  font-size: 15px;

  background: #ffffff;
  border: 1px solid #494949;
  transition: all 0.4s ease 0s;

}

#search:hover{
  color: white;
  background:rgb(43,29,107);
  border-color: rgb(43,29,107);
  transition: all 0.4s ease 0s;

}

#cocktail-of-the-day{
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;;
  width: auto;
  height: 25px;
  border-radius: 4px;
  font-size: 15px;font-family: 'Lobster', cursive;
  background: #ffffff;
  border: 1px solid #494949;
  transition: all 0.4s ease 0s;
}
#cocktail-of-the-day:hover{
  color: white;
  background:rgb(43,29,107);
  border-color: rgb(43,29,107);
  transition: all 0.4s ease 0s;
}
.imageResult:hover{
  opacity: .5;;
}