body{
  padding-top: 20px;
  margin-top: 0;
  text-align: center;
  background-color: cornsilk;
  font-family: 'Lobster', cursive;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  letter-spacing: 1px;
  color: deeppink;
}
#home-page-photo{
  border: 1px solid black;
}
.section-search-result{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section-chosen-cocktail{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#blank{
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: cornsilk;
}
#blank:focus{
  background-color: rgba(245, 0, 204, 0.5);
  color: white;
}

#search{
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;;
  width: auto;
  height: 25px;
  border-radius: 4px; 
  font-size: 15px;

  background: #ffffff;
  border: 1px solid #494949;
  transition: all 0.4s ease 0s;

}

#search:hover{
  color: white;
  background: deeppink;
  border-color: deeppink;
  transition: all 0.5s ease 0s;
  animation: shake 0.1s;

}

#cocktail-of-the-day{
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;;
  width: auto;
  height: 25px;
  border-radius: 4px;
  font-size: 15px;font-family: 'Lobster', cursive;
  background: #ffffff;
  border: 1px solid #494949;
  transition: all .7s ease 0s;
}
#cocktail-of-the-day:hover{
  color: white;
  background:deeppink;
  border-color: deeppink;
  transition: all .5s ease 0s;
  animation: shake 0.1s;
}
.imageResult{
  width: 200px;
  height: 200px; 
}
.imageResult:hover{
  opacity: .5;
  animation: shake 0.2s;
}
ul{
  list-style-type: none;
  text-align: left;
  font-family: 'Girassol', cursive;
}
li{
  margin-top: 2spx;
  font-size: 17px;
}
p{
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 10px;
  padding-left: 40px;
  text-align: center;
  font-family: 'Girassol', cursive;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: left;
}
h4{
  margin-bottom: 0px;
  font-size: 20px;
  letter-spacing: 3px;
}
.static-photo{
  width: 350px;
  height: 375px;
}
/* This is for the button to shake/buzz when hovering onver them 
URL: https://www.w3schools.com/howto/howto_css_shake_image.asp
*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* ----------- iPhone X ----------- */
/* Took this data from 
URL: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3){ 
    body{
      background-color: aquamarine;
      text-align: center;
    }
    h1{
      font-size: 2em;
    }
    #home-page-photo{
      height: 175px;
      width: 300px;
    }
    #blank{
      font-size: 10px;
    }
    #search{
      margin-left: 3px;
    }
    #cocktail-of-the-day{
      margin-top: 8px;
    }
    #section-div{
      flex-direction: column;
    }
    .static-photo{
      height: 200px;
      width: 200px;
    }

}